/* App.css */
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background-color: #141414;
  color: #fff;
}

button.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.theme-toggle:hover {
  background-color: #f40612;
}
