/* Estilo padrão para o body (modo claro) */
body {
  background-color: #fff; /* Fundo branco (modo claro) */
  color: #000; /* Texto preto (modo claro) */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo escuro - com fundo mais escuro */
body.dark-theme {
  background-color: #141414; /* Fundo muito escuro no modo escuro */
  color: #fff; /* Texto branco */
}

/* Botão para alternar entre os temas */
button.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.theme-toggle:hover {
  background-color: #f40612;
}
